name: 'Deploy to Pages'

on:
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: 'read'
  pages: 'write'
  id-token: 'write'

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build:
    timeout-minutes: 10
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        talk: ['gotenberg']
      fail-fast: false
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          repository: 'Jean-Beru/slides'
          token: '${{ secrets.MY_PAT }}'
      - name: 'Use Node.js LTS'
        uses: 'actions/setup-node@v4'
        with:
          node-version: 'lts/*'
      - name: 'Install'
        run: 'npm install'
      - name: 'Build'
        run: './node_modules/.bin/slidev build --base="/${{ matrix.talk }}/" --out="../../public/${{ matrix.talk }}/" ./slides/${{ matrix.talk }}/index.md'
      - name: 'Archive artifacts'
        uses: 'actions/upload-artifact@v4'
        with:
          name: '${{ matrix.talk }}'
          path: './public'
  deploy:
    needs: 'build'
    environment:
      name: 'github-pages'
      url: '${{ steps.deployment.outputs.page_url }}'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Download artifacts'
        uses: 'actions/download-artifact@v4'
        with:
          merge-multiple: true
      - name: 'Setup Pages'
        uses: 'actions/configure-pages@v5'
      - name: 'Upload artifact'
        uses: 'actions/upload-pages-artifact@v3'
        with:
          path: './'
      - name: 'Deploy to GitHub Pages'
        id: 'deployment'
        uses: 'actions/deploy-pages@v4'
